Diagnostics:
  ClangTidy:
    # annoying fff.h Suspicious usage of 'sizeof(A*)'; pointer to aggregate' 
    Remove: bugprone-sizeof-expression

CompileFlags:
  Add: [
    -I/home/ubertrader/code/cex
   ]
